@use "variaveis";

.games {
  margin: 0px auto;
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  &__cards__content {
    text-align: center;
    padding: 20px;

    img {
      max-width: 100%;
      height: auto;
    }

    h3 {
      margin: 10px 0;
    }
  }
}
