@use "variaveis";

.header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 5em;
  color: variaveis.$secondaryColor;
  background-color: variaveis.$primaryColor;

  &__container {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 2em;
    display: flex;
    justify-content: space-between; /* Mantém a imagem à esquerda e a lista à direita */
    align-items: center; /* Centraliza o conteúdo no eixo Y */
    width: 100%;
  }

  &__links {
    list-style: none;
    display: flex;
    gap: 1.5em;
  }

  img {
    max-width: 100%;
    height: auto;
    width: 13em;
  }
}
