@use "resetStyles";
@use "variaveis";
@use "header";
@use "hero";
@use "description";
@use "games";
@use "register";
@use "footer";

@mixin title($fontSize: 2.5em) {
  font-size: $fontSize;
  color: variaveis.$primaryColor;
  text-transform: uppercase;
}

.section--title {
  @include title;

  font-family: "Oswald", sans-serif;
  text-align: center;
  margin: 1em;
}

.card--title {
  @include title(2em);

  font-family: "Oswald", sans-serif;
  cursor: pointer;
}

.card--info {
  @include title(2em);

  color: variaveis.$tertiaryColor;
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
  cursor: pointer;
}

.register {
  background-image: url(../../dist/images/NBA2K-FORM-BG.jpg);
}

.button {
  padding: 5px 10px;
  color: variaveis.$secondaryColor;
  background-color: variaveis.$tertiaryColor;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: variaveis.$secondaryColor;
    color: variaveis.$tertiaryColor;
    border: 1px solid variaveis.$tertiaryColor;
  }

  &--test {
    font-size: 32px;
  }
}
